.staff-page-content {
  padding: 1rem;
  background-color: #f7f9fc;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.stats-container .dashboard-card {
  width: 100%;
}

.staff-main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.staff-main-content > * {
  grid-column: span 1;
}
